<div class="tt container">

    <button class="btn fixed-button border col-1 mt-5 p-10 w-10 offset-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop" data-bs-placement="end">
        =
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <!-- Posicionamiento absoluto para el botón de cierre -->
        <button type="button" class="btn-close position-absolute top-0 start-0 m-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        
        <!-- Título de ACCOUNT alineado a la derecha -->
        <div class="offcanvas-header col-11 justify-content-end">
            <div class="offcanvas-Box" style="display:<%= sessUser ? 'inline' : 'none;' %>">
                <a href="/user" class="btn primary-btn rounded-full">
                    <h3><%=sessUser ? sessUser.username : "Log In" %></h3>
                </a>
            </div>
            <div class="offcanvas-Box" style="display:<%= sessUser ? 'none' : 'inline;' %>">
                <a href="/" class="btn primary-btn rounded-full">
                    <h3>Log In</h3>
                </a>
            </div>
        </div>
    <!-- <button class="btn  fixed-button border col-1 mt-5 p-10 w-10 offset-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
      =
  </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="row">
            <div class="offcanvas-header col-11">
                <div class="offcanvas-Box  call-action-btn rounded-buttons text-lg-end" id="offcanvasWithBackdropLabel">
                    <a href="/" class="btn primary-btn rounded-full mt-3">
                    <h3><%=sessUser ? sessUser.username : "Log In" %></h3>
                    </a>
                </div>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div> -->

        

        <!-- Enlaces alineados a la derecha y texto interno de cada enlace a la derecha -->
        <div class="offcanvas-body text-end">
            <div class="offcanvas-Box call-action-btn rounded-buttons">
                <a href="/index" class="btn primary-btn rounded-full text-end w-100">HOME</a>
            </div>

            <div class="offcanvas-Box call-action-btn rounded-buttons">
                <a href="/environment" class="btn primary-btn rounded-full text-end w-100">1ST ENVIRONMENT</a>
            </div>   

            <div class="offcanvas-Box call-action-btn rounded-buttons">
                <a href="/environment" class="btn primary-btn rounded-full text-end w-100">2ND ENVIRONMENT</a>
            </div>

            <div class="offcanvas-Box call-action-btn rounded-buttons">
                <a href="/environment" class="btn primary-btn rounded-full text-end w-100">3RD ENVIRONMENT</a>
            </div>

            <div class="offcanvas-Box call-action-btn rounded-buttons">
                <a href="/map" class="btn primary-btn rounded-full text-end w-100">HURRICANE MAP</a>
            </div>
            <div class="offcanvas-Box call-action-btn rounded-buttons" style="display:<%= sessUser ? 'inline' : 'none;' %>">
                <a href="/log-out" class="log-out-btn btn primary-btn rounded-full text-end w-100 my-5"><h5>Log Out</h5></a>
            </div>
        </div>
    </div>

    <h7 class="PageName col-1 mt-5 p-10 w-50">Berkeley's Dilemma</h7>
</div>
