<%- include("./partials/headerS") -%>
<div class="back-img">
    <div class="in-div">
        <h2 class="in-title">Berkeley's Dilemma</h2>
        <div class="login-container login-scroll">
            <h3>Sign In</h3>
            <form action="/signin" method="POST">
                <div class="form-group">
                    <label for="username">E-mail</label>
                    <input type="text" name="email" class="form-control" id="username" placeholder="Enter your e-mail" value="<%=right_pass ? null : email%>" required>
                </div>
                <div class="form-group"> 
                    <label for="username">Name</label>
                    <input type="text" name="name" class="form-control" id="username" placeholder="Enter your name" value="<%=right_pass ? null : name%>" required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" value="<%=right_pass ? null : username%>" required>
                </div>

                <div class="form-group">
                    <label for="password"><%=right_pass ?  "Password" : null %></label>
                    <h7 class="incorrect-pass"><%=right_pass ? null : "Passwords don't match" %></h7>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" name="conf_password" class="form-control" id="password" placeholder="Confirm your password" required>
                </div>

                <button type="submit" class="log-btn col-12">Sign In</button>

                <div class="text-center mt-3">
                    <a href="/">Log In</a> or <a href="/index">Continue as Guest</a>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("./partials/footerA") -%>
